snippet md
  ---
  title: Probability Notes
  author: Mohammed Shahid
  date: 2023-05-07
  geometry: a4paper
  description: This is a brief description of my document.
  header-includes:
    - \usepackage{ebgaramond}
    - \usepackage{framed}
    - \usepackage{xcolor}
    - \usepackage{tikz}
    - \usepackage{tcolorbox}
  ---
