snippet cppt

	 #include <iostream>
	 using namespace std;

	 #define len(x) x.size()
	 #define PB push_back
	 #define loop(i, j, k) for(int i = j; i <= k; i++)

	 int solve(int N){
			 $0		 
			 return 0;
	 }

	 int main() {
			 int T;
			 int N;
			 cin >> T;
			 while(T--){
					 cin >> N;
					 solve(N);
			 }

		 return 0;
	 }
